@import '../variables.css';
.frame{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font);
    font-size: var(--font-size);
}
.body{
    width: 100%;
    height: 100%;
    background:var(--main-background);
}