<html>
    <head>
        <title>Button Control</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="button.css">
    </head>
    <body>
        <div class='button-conrol text-and-icon'>
            <div class="img-button"></div>
            <input type="button" class="button-body" value="Text"></input>
        </div>
        <div class='button-conrol text-only'>
            <div class="img-button"></div>
            <input type="button" class="button-body" value="Text"></input>
        </div>
        <div class='button-conrol img-only'>
            <div class="img-button"></div>
            <input type="button" class="button-body"></input>
        </div>
        <div class='button-conrol text-and-icon small'>
            <div class="img-button"></div>
            <input type="button" class="button-body" value="Text"></input>
        </div>
        <div class='button-conrol text-only small'>
            <div class="img-button"></div>
            <input type="button" class="button-body" value="Text"></input>
        </div>
        <div class='button-conrol img-only small'>
            <div class="img-button"></div>
            <input type="button" class="button-body"></input>
        </div>
    </body>
</html>