<html>
    <head>
        <title>Dropdown Control</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="dropdown.css">
    </head>
    <body>
        <div class='dropdown-conrol multicheck'>
            <div class="item-row">
                <div class='checkbox-conrol uncheck'>
                    <input type="button"></input>
                </div>
                <div class ="item-name" > Новый</div>
            </div>
            <div class="item-row">
                <div class='checkbox-conrol uncheck'>
                    <input type="button"></input>
                </div>
                <div class ="item-name">Рассчет</div>
            </div>
            <div class="item-row">
                <div class='checkbox-conrol uncheck'>
                    <input type="button"></input>
                </div>
                <div class ="item-name" >Подтвержден</div>
            </div>
            <div class="item-row">
                <div class='checkbox-conrol uncheck'>
                    <input type="button"></input>
                </div>
                <div class ="item-name">Отложен</div>
            </div>
            <div class="item-row">
                <div class='checkbox-conrol uncheck'>
                    <input type="button"></input>
                </div>
                <div class ="item-name">Выполнен</div>
            </div>
            <div class="item-row">
                <div class='checkbox-conrol uncheck'>
                    <input type="button"></input>
                </div>
                <div class ="item-name">Отменен</div>
            </div>
        </div>
        <div class='dropdown-conrol single'>
            <div class="item-row">
                <div class='checkbox-conrol uncheck'>
                    <input type="button"></input>
                </div>
                <div class ="item-name" > Новый</div>
            </div>
            <div class="item-row">
                <div class='checkbox-conrol uncheck'>
                    <input type="button"></input>
                </div>
                <div class ="item-name">Рассчет</div>
            </div>
            <div class="item-row">
                <div class='checkbox-conrol uncheck'>
                    <input type="button"></input>
                </div>
                <div class ="item-name" >Подтвержден</div>
            </div>
            <div class="item-row">
                <div class='checkbox-conrol uncheck'>
                    <input type="button"></input>
                </div>
                <div class ="item-name">Отложен</div>
            </div>
            <div class="item-row">
                <div class='checkbox-conrol uncheck'>
                    <input type="button"></input>
                </div>
                <div class ="item-name">Выполнен</div>
            </div>
            <div class="item-row">
                <div class='checkbox-conrol uncheck'>
                    <input type="button"></input>
                </div>
                <div class ="item-name">Отменен</div>
            </div>
        </div>
    </body>
</html>