<html>
    <head>
        <title>Input Control</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="input.css">
    </head>
    <body>
        <div class='input-conrol empty'>
            <label>Дата и время заказа</label>
            <div class="input-row">
                <input class="edit-field" placeholder="Введите ..." ></input>
                <input type="button" class ="action-btn cancel"></input>
            </div>
        </div>
        <div class='input-conrol'>
            <label>Дата и время заказа</label>
            <div class="input-row">
                <input class="edit-field" placeholder="Введите ..." value="06.12.2021"></input>
                <input type="button" class ="action-btn cancel"></input>
            </div>
        </div>
        <div class='input-conrol error'>
            <label>Дата и время заказа</label>
            <div class="input-row">
                <input class="edit-field" placeholder="Введите ..." value="06.12.2021"></input>
                <input type="button" class ="action-btn cancel"></input>
            </div>
        </div>
        <div class='input-conrol lock'>
            <label>Дата и время заказа</label>
            <div class="input-row">
                <input class="edit-field" placeholder="Введите ..." value="06.12.2021"></input>
                <input type="button" class ="action-btn lock"></input>
            </div>
        </div>
    </body>
</html>