<html>
    <head>
        <title>Search Control</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="search.css">
    </head>
    <body>
        <div class='search-conrol empty'>
            <div class="search-icon"></div>
            <input class="edit-field" placeholder="Номер заказа или ФИО" ></input>
            <input type="button" class ="action-btn cancel"></input>
        </div>
        <div class='search-conrol active'>
            <div class="search-icon"></div>
            <input class="edit-field" placeholder="Номер заказа или ФИО" value="50744"></input>
            <input type="button" class ="action-btn cancel"></input>
        </div>
    </body>
</html>