@import '../variables.css';
.paging{
    width: 300px;
    height: 26px;    
    background:var(--header-text);
    align-self: flex-end;
    display:flex;
    flex-direction: row;
    float: right;
}
