@import '../variables.css';
 .filterBlock{
    display: flex;
    flex-direction: column;
    padding: 0 4px;
    width: 100%;
}
.mainFilter{
    display: flex;
    flex-direction: row;
    height: 64px;
    padding: 0 4px;
    width: 100%;  
}
