@import '../variables.css';
 .filterBlock{
    display: flex;
    flex-direction: column;
    padding: 0 4px;
    width: 100%;
}
.mainFilter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding: 0 4px;
    width: 100%;  
}
.left{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}
